   # Игнорировать папку Visual Studio
   .vs/

   # Игнорировать папки сборки
   bin/
   obj/

   # Игнорировать каталоги временных файлов NuGet
   packages/

   # Игнорировать файлы настроек пользователей Visual Studio (если используется)
   *.user
   *.userosscache
   *.suo

   # Игнорировать файлы проекта Rider (если используется)
   .idea/
   
