@page "/"

<PageTitle>Алгоритм Эдмондса-Карпа</PageTitle>

<h1>Алгоритм Эдмондса-Карпа</h1>

Приветствую, здесь вы можете ознакомиться с алгоритмом Эдмондса-Карпа!

<SurveyPrompt Title="Как он работает?"/>
